html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #f6f6f6;
}
@font-face{
    font-family: "AkrobatRegular";
    src:url("../fonts/Akrobat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Intro";
    src:url("../fonts/Intro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.whiteOverlay{
    position:absolute;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    animation: enter 4s alternate;
    animation-fill-mode: forwards;
    pointer-events: none;
}
@keyframes enter{
    from{
       opacity: 1;
   }
    30%{
       opacity: 1;
   }
    to{
       opacity: 0;
   }
}
#viewport {
    width: 850px;
    height: 650px;
    overflow: hidden;
    position: relative;
    margin-top: 70px;
    scroll-behavior: smooth;
}
#viewport:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f6f6f6, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent,#f6f6f6);
    z-index: 10000;
}
.slider {
    position: relative;
    transition: 500ms;
    width: calc(100% * 5);
    height: 450px;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
}
.slide {
    width: 100%;
    height: 450px;
}
.country{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 700px;
}
.prev{
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: left;
    height: 100px;
    width: 70px;
    background: url(../icons/prev.svg) no-repeat;
    background-position: center center;
    border: none;
    background-color: none;
    background-size: 70px;
    margin-top: 270px;
    float:right;
    display:block;
    margin-right:0px;
    clear:left;
    transition: 0.4s;
    opacity: 0.1;
}
.prev:hover{
    opacity: 1;
    transition: 0.2s;
    background-size: 90px;
}
.next{
    display: flex;
    float: right;
    cursor: pointer;
    width: 70px;
    flex-direction: row;
    justify-content: right;
    height:100px;
    margin-top: 270px;
    background: url(../icons/next.svg) no-repeat;
    background-position: center center;
    border: none;
    background-color: none;
    background-size: 70px;
    float:right;
    display:block;
    margin-right:0px;
    clear:left;
    transition: 0.4s;
    opacity: 0.1;
}
.next:hover{
    opacity: 1;
    transition: 0.2s;
    background-size: 90px;
}
.mainBlock{
    width: 1000px;
    margin: auto;
    margin-bottom: 100px;
}
input{
    background-color: #00000033;
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.281);
    color: #d24d57;
}
input:focus{
    outline: none;
}
.checkIn{
    width: 1000px;
    height: 540px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    border-radius: 20px;
    background: #0000009d;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.name{
    float: left;
    margin: 0 auto;
    width: 100px;
    margin-left: 0;
}
.surname{
    margin: 0 auto;
    float: right;
    width: 150px;
    margin-left: 20px;
}
.age{
    float: left;
    margin: 0 auto;
    width: 250px;
    margin-left: 0;
    margin-right: 0 ;
}
.gender{
    margin: 0 auto;
    float: right;
    width: 250px;
    height: 30px;
    margin-left:35px ;
}
.block6{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 20px;
}
.block7{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 15px;
}
#name{
    width: 240px;
    height: 30px;
    font-family: "AkrobatRegular";
    font-size: 22px;
    margin-top: 8px;
}
#surname{
    width: 240px;
    height: 30px;
    font-family: "AkrobatRegular";
    font-size: 22px;
    margin-top: 8px;
}
#telephone, #email{
    width: 525px;
    height: 30px;
    font-family: "AkrobatRegular";
    font-size: 22px;
}
#gender{
    width: 177px;
    height: 38px;
    font-family: "AkrobatRegular";
    float: right;
    font-size: 22px;
    margin-right: 3px;
    background-color: #00000033;
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.281);
    color: #f6f6f6;
}
#gender option{
    background-color: #323232;
}
#gender:focus{
    outline: none;
}
.genderLabel{
    width: 70px;
}
#age{
    width: 50px;
    height: 30px;
    margin: 0 auto;
    float: right;
    font-family: "AkrobatRegular";
    font-size: 22px;
}
label{
    font-family: "AkrobatRegular";
    width: 190px;
    font-size: 27px;
    margin-bottom: 10px;
    float: left;
    color: #f6f6f6;
}
em{
    color: #d24d57;
}
button{
    width: 525px;
    height: 50px;
    font-size: 27px;
}
button:focus{
    outline: none;
}
button {
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-left: 170px;
    margin-top: 10px;
    border: 4px solid #d24d57;
    font-family: "AkrobatRegular";
    width: 230px;
    height: 60px;
    font-size: 27px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur( 0 );
    -webkit-backdrop-filter: blur( 0 );
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    z-index: 1003;
}
.checkInBlock{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 17px;
    height: 500px;
    width: 600px;
}
.checkInPhoto{
    width: 300px;
    float: left;
    position: relative;
    margin: 40px;
    border-radius: 20px;
}
.sec1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    font-family: "intro";
    font-size: 80px;
    color: #f6f6f6;
    background: url(../img/bg4.jpg);
    height: 600px;
    background-size: cover;
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
}
.sec1:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: #32323275;
}
.sec2{
    background: url(../img/bg5.jpg);
    height: 600px;
    background-size: cover;
    height: 700px;
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 10px;
}
h1{
    margin-left: auto;
    margin-right: auto;
    z-index: 60;
}
.toursText1{
    width: 100%;
    height: 670px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a{
    display:inline-block;
    height: 25px;
    text-decoration: none;
}
a:hover{
    color: mediumseagreen;
}
.number{
    font-size: 100px;
    text-align: center;
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    margin-top: -5px;
    padding-right: 15px;
}
.place{
    width: 370px;
    height: 100px;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 13px;
    font-size: 27px;
}
.month{
    font-size: 18px;
    margin-top: 11px;
    margin-bottom: 0px;
}
.noc{
    font-size: 22px;
    margin-top: 10px;
}
.details{
    width: 400px;
    height: 125px;
    float: right;
    position: relative;
    margin-top: -40px;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 650px;
}
.block1{
    text-align: center;
    width: 725px;
    margin: auto;
    height: 670px;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #f6f6f6;
}
.littleText{
    font-size: 16px;
}
h3{
    font-family: "Intro";
    font-size: 25px;
}
p{
    font-family: "AkrobatRegular";
    font-size: 20px;
}
.imageTour{
    width: 300px;
    object-fit: cover;
    box-shadow: 0 0 15px #32323293;
    object-position: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}
input[type="text"] {
    border: none;
   /* Убираем рамку */
    outline: none;
   /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none;
   /* Убираем рамку в Chrome и Safari */
    width: 350px;
   /* Ширина поля */
    height: 30px;
    background-color: #f6f6f6;
    font-size: 18px;
    vertical-align:text-bottom;
   /* Выравнивание по середине */
}
input[type="submit"] {
    width: 40px;
   /* Ширина кнопки */
    height: 40px;
   /* Высота кнопки */
    border: none;
   /* Убираем рамку */
    background: url(../icons/send1.svg) no-repeat 50% 50%;
   /* Параметры фона */
    background-size: 25px;
    transition: 0.4s;
}
input[type="submit"]:hover {
    transition: 0.2s;
    width: 40px;
   /* Ширина кнопки */
    height: 40px;
   /* Высота кнопки */
    border: none;
   /* Убираем рамку */
    background: url(../icons/send2.svg) no-repeat 50% 50%;
   /* Параметры фона */
    background-size: 25px;
    
   
   
}
.sendEmail:focus {
    outline: none;
}

.inputBlock{
    display: flex;
    flex-direction: column;
    margin-left: 320px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 70px;
}
.emailInput{
    float: left;
}
.label0{
    margin: 0;
    font-size: 25px;
    margin-bottom: 20px;
}
.bottomLine{
    width: 390px;
    margin: 0;
        color:#323232;
        background-color: #323232;
        border: none;
        height: 3px;
      
   
}
.navigation{
    width: 100%;
    height: 40px;
    position: fixed;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    z-index: 50;
    background: #f6f6f6;
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 1px solid rgba(255, 255, 255, 0.11);
}
.navBox{
    width: 60px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "AkrobatRegular";
    padding-top: 9px;
}
.nav2{
    display: block;
    float: right;
    margin-left: auto ;
    margin-right: 3% ;
    display: flex;
    flex-direction: row;
}
.logo{
    display: block;
    float: left;
    height: 40px;
    width: 60px;
    background-color: #d24d57;
    margin: 0;
    padding: 0;
    margin-left: 2%;
}
.navLabel{
    color: #323232;
    text-decoration: none;
    transition: 0.3s;
}
.navLabel:hover{
    transition: 0.2s;
    color: #d24d57;
}
.navLabelActive{
    color: #d24d57;
    text-decoration: none;
    transition: 0.3s;
}
.footer{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #323232;
    color: #ffffff;
    font-size: 17px;
    height: 100px;
    width: 100%;
}
.button1 {
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    border: 4px solid #d24d57;
    text-decoration: none;
    font-size: 30px;
    font-family: "AkrobatRegular";
    width: 210px;
    height: 50px;
    margin-left: 160px;
    margin-right: auto;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    z-index: 1003;
}
.button1:hover:before {
    right: 0%;
    left: auto;
    width: 100%;
    color: #fff;
}
.button1:before {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #d24d57;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
